	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #FFF;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 300;
		color: #000000;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	td{
	text-align:center;
	align:center;
	}
	a
	{
		color: #862525;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 800px;
	}
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 800px;
	}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 1em 2em 1em 2em;
		background: #862525;
		border-radius: 5px;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;
	}
	
	.button:before
	{
	}
		
/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box1,
	.box2,
	.box3,
	.box4
	{
		width: 235px;
	}
	
	.box1,
	.box2,
	.box3,
	{
		float: left;
		margin-right: 20px;
	}
	
	.box4
	{
		float: right;
	}
	
/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.boxA,
	.boxB,
	.boxC
	{
		background: rgba(0,0,0,.1);
		width: 304px;
		padding: 40px 40px;
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 24px;
	}
	
	.boxC
	{
		float: right;
	}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox1,
	.tbox2
	{
		width: 575px;
	}
	
	.tbox1
	{
		float: left;
	}

	.tbox2
	{
		float: right;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
	}

	#header
	{
		position: relative;
		padding: 3em 0em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 1em;
		left: 0;
	}
	
	#logo h1
	{
		
	}
	
	#logo a
	{
		text-decoration: none;
		color: #862525;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/


/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page-wrapper
	{
		overflow: hidden;
		padding: 1em 0em;
		background: #FFF;
	}

	#page
	{
	}

	#page .title
	{
		margin-bottom: 3em;
		text-align: center;
	}
	
	#page h3
	{
		margin-bottom: 1em;
		font-size: 1.4em;
		font-weight: 600;
		color: rgba(0,0,0,.8);
	}

	.pboxA,
	.pboxB,
	.pboxC
	{
		width: 384px;
	}

	.pboxA,
	.pboxB
	{
		float: left;
		margin-right: 24px;
	}
	
	.pboxC
	{
		float: right;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer-wrapper
	{
		overflow: hidden;
		padding: 5em 0em;
		background: rgba(0,0,0,.05);
	}

	#footer
	{
	}
	
	#footer h2
	{
		display: inline-block;
		padding-bottom: 1em;
		font-size: 1.6em;
		font-weight: 400;
	}

	#footer #fbox1
	{
		float: left;
		width: 384px;
	}

	#footer #fbox2
	{
		float: right;
		width: 792px;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(0,0,0,0.08);
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: rgba(0,0,0,0.6);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(0,0,0,0.8);
	}

	
/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured
	{
		padding: 5em 0em 2em 0em;
	}

	#featured .title
	{
		margin-bottom: 3em;
		text-align: center;
	}
	
	#featured h3
	{
		margin-bottom: 1em;
		font-size: 1.4em;
		font-weight: 600;
		color: rgba(0,0,0,.8);
	}

	#featured .button
	{
		margin-top: 1em;
	}

