	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #FFF;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 300;
		color: #000000;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #862525;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1200px;
	}
	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
		margin: 0;
		padding: 2em 0 0 0;
	}

	ul.style1 li
	{
		float: left;
		display: inline-block;
		padding: 0px 0px 0px 20px;
	}
	
	ul.style1 li:first-child
	{
		padding-left: 0px;
	}
	
	ul.style3
	{
		margin: 0;
		padding: 0;
		overflow: hidden;
		list-style: none;
		color: #6c6c6c
	}
	
	ul.style3 li
	{
		overflow: hidden;
		display: block;
		padding: 0.8em 0em 0em 0em;
		margin: 0 0 1.3em 0;
		border-top: 1px solid #D1CFCE;
	}
	
	ul.style3 li:first-child
	{
		padding-top: 0;
		border-top: none;
	}
	
	ul.style3 p
	{
		margin: 0;
	}
	
	ul.style3 a
	{
		display: block;
		text-decoration: none;
		color: #2D2D2D;
	}
	
	ul.style3 a:hover
	{
		text-decoration: underline;
	}
	
	ul.style3 h3
	{
		padding: 15px 0em 5px 0em;
		text-transform: uppercase;
		font-size: 1.1em;
		font-weight: 700;
		color: #454445;
	}
	
	ul.style3 .first
	{
		padding-top: 0;
		background: none;
	}
	
	ul.style3 .date
	{
		float: left;
		position: relative;
		width: 60px;
		height: 50px;
		margin: 10px 1.5em 0em 0em;
		padding: 10px 0em 0em 0em;
		background: #862525;
		border-radius: 5px;
		box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.1);
		line-height: normal;
		text-align: center;
		text-transform: uppercase;
		text-shadow: 0px 1px 0px rgba(0,0,0,.2);
		font-size: 0.8em;
		font-weight: 400;
		color: #FFF;
	}
	
	ul.style3 .date:after
	{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 6px;
	}
	
	ul.style3 .date b
	{
		margin: 0;
		padding: 0;
		display: block;
		font-size: 1.8em;
		font-weight: 400;
		color: #FFFFFF;
	}
	
	ul.style3 .date a
	{
		color: #FFFFFF !important;
	}
	
	ul.style3 .date a:hover
	{
		text-decoration: none;
	}

	


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		overflow:  hidden;
		margin: 0em 0 3em 0;
		padding-top: 1em;
		text-align: center;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #862525;
		border-radius: 5px;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		color: #FFFFFF;
	}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 1em 2em 1em 2em;
		background: #862525;
		border-radius: 5px;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;
	}
	
	.button:before
	{
	}
		
/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box1,
	.box2,
	.box3,
	.box4
	{
		width: 235px;
	}
	
	.box1,
	.box2,
	.box3,
	{
		float: left;
		margin-right: 20px;
	}
	
	.box4
	{
		float: right;
	}
	
/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.boxA,
	.boxB,
	.boxC
	{
		background: rgba(0,0,0,.1);
		width: 304px;
		padding: 40px 40px;
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 24px;
	}
	
	.boxC
	{
		float: right;
	}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox1,
	.tbox2
	{
		width: 575px;
	}
	
	.tbox1
	{
		float: left;
	}

	.tbox2
	{
		float: right;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
	}

	#header
	{
		position: relative;
		padding: 3em 0em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 1em;
		left: 0;
	}
	
	#logo h1
	{
		
	}
	
	#logo a
	{
		text-decoration: none;
		color: #862525;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		top: 2em;
		right: 0;
	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		padding: 1em 1.5em;
		text-decoration: none;
		font-weight: 400;
		color: rgba(0,0,0,.8);
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	#menu a:hover
	{
		text-decoration: underline;
	}
	
	#menu .current_page_item a
	{
	}
	
	#menu .icon
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner-wrapper
	{
		overflow: hidden;
		padding: 10em 0em 10em 0em;
		background: url(images/bg01.jpg) no-repeat center top;
		background-size: 100% auto;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page-wrapper
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #FFF;
	}

	#page
	{
	}

	#page .title
	{
		margin-bottom: 3em;
		text-align: center;
	}
	
	#page h3
	{
		margin-bottom: 1em;
		font-size: 1.4em;
		font-weight: 600;
		color: rgba(0,0,0,.8);
	}

	.pboxA,
	.pboxB,
	.pboxC
	{
		width: 384px;
	}

	.pboxA,
	.pboxB
	{
		float: left;
		margin-right: 24px;
	}
	
	.pboxC
	{
		float: right;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer-wrapper
	{
		overflow: hidden;
		padding: 5em 0em;
		background: rgba(0,0,0,.05);
	}

	#footer
	{
	}
	
	#footer h2
	{
		display: inline-block;
		padding-bottom: 1em;
		font-size: 1.6em;
		font-weight: 400;
	}

	#footer #fbox1
	{
		float: left;
		width: 384px;
	}

	#footer #fbox2
	{
		float: right;
		width: 792px;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(0,0,0,0.08);
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: rgba(0,0,0,0.6);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(0,0,0,0.8);
	}

	
/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured
	{
		padding: 5em 0em 2em 0em;
	}

	#featured .title
	{
		margin-bottom: 3em;
		text-align: center;
	}
	
	#featured h3
	{
		margin-bottom: 1em;
		font-size: 1.4em;
		font-weight: 600;
		color: rgba(0,0,0,.8);
	}

	#featured .button
	{
		margin-top: 1em;
	}

