/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */


/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}



input {
  background-image: none;
  border: none;
  font: 100%/1.5em "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-transition: all .3s;
          transition: all .3s;
}



/* ---------- LOGIN ---------- */
#login {
  width: 400px;
}

#login h2 {
  background: #B2C7D7;
  border-radius: 20px 20px 0 0;
  color: #000;
  font-size: 14px;
  padding: 34px 26px;
}

#login h2 span[class*="fontawesome-"] {
  margin-right: 14px;
}

#login fieldset {
  background: #fff;
  border-radius: 0 0 20px 20px;
  padding: 20px 26px;
}

#login fieldset p {
  color: #777;
  margin-bottom: 14px;
}

#login fieldset p:last-child {
  margin-bottom: 0;
}

#login fieldset input {
  border-radius: 3px;
}

#login fieldset input[type="text"], #login fieldset input[type="password"] {
  background: #eee;
  color: #777;
  padding: 4px 10px;
  width: 100%;
}

#login fieldset input[type="submit"] {
	cursor:pointer;
  background: #254061;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 4px 0;
  width: 100px;
}


#login fieldset input[type="submit"]:hover {
  background: #0F1A27;
}

#login fieldset input[type="reset"] {
cursor:pointer;
      background: #84878A;

  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 4px 0;
  width: 100px;
}

#login fieldset input[type="reset"]:hover {
  background: #6C6D6F;
}
