.inp{
  /*  border:solid 2px gray;    
    margin: 20px 5px;
    outline:solid 10px silver;
	*/
	    padding: 5px;  
    font-size: 15px;  
    text-shadow: 0px 1px 0px #fff;  
    outline: none;  
    background: -webkit-gradient(linear, left top, left bottombottom, from(#bcbcbe), to(#ffffff));  
    background: -moz-linear-gradient(top,  #bcbcbe,  #ffffff);  
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;  
    border-radius: 3px;  
    border: 1px solid #717171;  
    -webkit-box-shadow: 1px 1px 0px #efefef;  
    -moz-box-shadow: 1px 1px 0px #efefef;  
    box-shadow:  1px 1px 0px #efefef;  
	
}
.inp:focus{
    
	-webkit-box-shadow: 0px 0px 5px #007eff;  
    
    
	/*outline:solid 10px red;*/
}

.inptxt{
  /*  border:solid 2px gray;    
    margin: 20px 5px;
    outline:solid 10px silver;
	*/
	    padding: 5px;  
    font-size: 15px;  
    text-shadow: 0px 1px 0px #fff;  
    outline: none;  
    background: -webkit-gradient(linear, left top, left bottombottom, from(#bcbcbe), to(#ffffff));  
    background: -moz-linear-gradient(top,  #bcbcbe,  #ffffff);  
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;  
    border-radius: 3px;  
    border: 1px solid #717171;  
    -webkit-box-shadow: 1px 1px 0px #efefef;  
    -moz-box-shadow: 1px 1px 0px #efefef;  
    box-shadow:  1px 1px 0px #efefef;  
	
}
.inptxt:focus{
    
	-webkit-box-shadow: 0px 0px 5px #007eff;  
    
    
	/*outline:solid 10px red;*/
}
.inputChanged{
    
	-webkit-box-shadow: 0px 0px 25px #23D61B;  
    
    
	/*outline:solid 10px red;*/
}



#navigation {
	margin: 10px 0;	 
	font: bold 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #444;
}

#navigation:after {
	clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#navigation ul {	
	float: left;
	border-radius: 100px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
    overflow: hidden;
}

#navigation li {
	float: left;
	border-style: solid; 
	border-width: 1px;
    border-color: #BABABA #BABABA #BABABA #FFF;
	box-shadow: 0 1px rgba(255,255,255,1) inset;
	-webkit-box-shadow: 0 1px rgba(255,255,255,1) inset;
	background: #F7F7F7; /* Old browsers */
	background: -moz-linear-gradient(top, #F7F7F7 0%, #EDEDED 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#EDEDED)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* IE10+ */
	background: linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#EDEDED',GradientType=0 ); /* IE6-9 */	
}

#navigation li:hover, #navigation li.current {
	box-shadow: 0 1px rgba(255,255,255,0.2) inset;
	-webkit-box-shadow: 0 1px rgba(255,255,255,0.2) inset;
	border-color: #262626 !important;
	background: #4D4D4D; /* Old browsers */
	background: -moz-linear-gradient(top, #4D4D4D 0%, #262626 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4D4D4D), color-stop(100%,#262626)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* IE10+ */
	background: linear-gradient(top, #4D4D4D 0%,#262626 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D4D4D', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
}

#navigation a {
	display: block;
	padding: 10px 15px;
	color: #444;
	text-decoration: none;
	text-shadow: 0 1px #FFF;
}

#navigation a:hover, #navigation li.current a {
	color: #FFF;
	text-shadow: 0 1px #000;
}

#navigation li:first-child {
	border-left-color: #BABABA;
	border-radius: 100px 0 0 100px;
}

#navigation li:last-child {
	border-radius: 0 100px 100px 0;
}
